boto3~=1.24.28
botocore~=1.27.59
pydub~=0.25.1
fastapi~=0.103.2
starlette~=0.27.0
magenta~=2.1.4
moto~=4.0.11
pytest~=7.4.4
pillow~=9.2.0
six~=1.16.0
tensorflow~=2.9.1
numpy~=1.21.6
scipy~=1.7.3
librosa~=0.10.1
yaml~=0.2.5
pyyaml~=6.0.1
scikit-image~=0.19.3
matplotlib~=3.5.2
pygtrie~=2.5.0
requests~=2.31.0
tqdm~=4.66.2
imageio~=2.20.0
attrs~=23.2.0
colorama~=0.4.6
sox~=1.4.1
mido~=1.2.6
setuptools~=65.6.3
pydantic~=2.5.3
uvicorn~=0.22.0